.nav {
    display: block;
    position: relative;   
}   

.menu {
    margin-top: 40px;
}

.menu__item {
    text-align: center;
    width: 400px;
    margin-right: 0px;
    padding: 0px 10px 5px 10px;
    border-top: none;
    border-bottom: 5px #F2F2F2 solid;
}

.menu__item:hover {
    border-top: none;
    border-bottom: 5px #0065FC solid;
}

.menu__signup {
    position: absolute;
    top : 15px ;
    right: 0px ;
}